.brand__watches {
  /* border: 2px solid red; */
  margin: 4rem;
  text-align: center;
  margin-top: 3rem;
}

.brand__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brand-watch-item {
  width: 28%;
  /* border: 2px dashed green; */
  text-align: center;
  margin-top: 2rem;
}

.brand-watch-item img {
  width: 10rem;
  height: 16rem;
  object-fit: contain;
}

.brand-watch-item small {
  font-weight: bold;
}

.brand-watch-item span {
  display: block;
}

.brand-watch-item button {
  border: none;
  background-color: rgb(127, 70, 180);
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  margin: 1.2rem;
  font-size: 1rem;
  /* border-radius: 16px; */
  font-weight: 400;
}

/* ******************** Media Queries ********************** */
@media only screen and (max-width: 390px) {
  .brand__container {
    flex-direction: column;
  }

  .brand-watch-item {
    width: auto;
    margin: 0;
  }

  .brand-watch-item img {
    height: 12rem;
  }
}

@media only screen and (min-width: 390px) {
  .brand-watch-item {
    width: 40%;
  }

  .brand-watch-item img {
    height: 10rem;
  }

  .brand-watch-item button {
    padding: 0.5rem 1rem;
    margin: 0.2rem;
  }
}

@media only screen and (min-width: 700px) {
  .brand-watch-item {
    width: 30%;
  }

  .brand-watch-item img {
    height: 10rem;
  }
}
