.contact__container {
  background-color: #e3d8d8;
  padding: 5rem;
}

.contact__info {
  text-align: center;
  padding: 1rem;
}

.contact__info p {
  display: block;
  width: 75%;
  margin: auto;
  font-size: 1.2rem;
}

.contact__details {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 2rem;
}

.contact-icon {
  font-size: 3rem;
}

.call-box {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  width: 30%;
}

.lineOne {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.lineTwo {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.contact-form {
  /* background-color: rgb(72, 236, 236); */
  background: linear-gradient(#9198e5, aqua);
  /* width: 50%; */
  padding: 3rem;
  /* border: 2px solid purple; */
}

.contact-form h1 {
  text-align: center;
}

.form__container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.field__label {
  display: block;
  margin-top: 20px;
  font-size: 1.2rem;
}

.field__input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  resize: none;
}

.contact-form__content {
  /* border: 2px solid red; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.form__btn button {
  border: none;
  background-color: blueviolet;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  margin: 1.2rem;
  font-size: 1rem;
  /* border-radius: 16px; */
  font-weight: 600;
}

.heartbeat {
  animation: heartbeat 1.5s infinite alternate;
}

@keyframes heartbeat {
  100% {
    transform: scale(1.5);
  }
}

@media only screen and (max-width: 600px) {
  .contact__container {
    padding: 0;
  }

  .contact__details {
    flex-direction: column;
  }

  .contact__details > div {
    margin: 1.5rem;
  }

  .contact__info {
    padding: 0.8rem;
  }

  .contact__info h1 {
    font-size: 1.5rem;
  }

  .contact__info p {
    margin-top: 1rem;
  }

  .contact-icon {
    font-size: 1.5rem;
  }

  .call-box {
    border: none;
    width: auto;
  }

  .lineOne {
    margin-top: 10px;
    font-size: 1.2rem;
  }
}
