@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Bhaijaan 2", cursive;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navHeader {
  background-color: black;
  display: flex;
  height: 5rem;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo img {
  height: 3rem;
  width: 4rem;
  object-fit: contain;
  border-radius: 2rem;
}

.navbar {
  width: 40%;
  /* border: 1px solid yellow; */
  position: absolute;
  left: 15%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.nav-item {
  color: white;
  padding: 5px;
  font-size: 1.4rem;
  font-weight: 800;
}

.searchbar {
  position: absolute;
  right: 2rem;
  display: flex;
  flex: 1;
}

.searchbar input {
  padding: 0.4rem;
  width: 12rem;
  border: none;
  outline: none;
  height: 2.5rem;
}

.searchbar i {
  color: black;
  color: white;
  background-color: springgreen;
  /* background-color: white; */
  padding: 0.7rem;
  cursor: pointer;
}

main {
  height: 80rem;
  /* background-color: salmon; */
  border: 2px dashed purple;
  margin: 1rem;
  height: 100%;
}

.slides {
  display: none;
}

.slides img {
  width: 100%;
  max-width: 1349px;
  max-height: 468px;
  object-fit: cover;
}

.next-prev {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  font-size: 2.2rem;
  color: white;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.dots {
  position: relative;
  bottom: 4rem;
  text-align: center;
}

.dot {
  height: 1rem;
  width: 1rem;
  position: relative;
  background-color: #ddd;
  display: inline-block;
  border-radius: 1rem;
  margin: 0.2rem;
  transition: background-color 0.4s ease-in-out;
}

.active,
.dot:hover {
  background-color: #2b558d;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.6s;
  animation-name: fade;
  animation-duration: 1.6s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* **************** Top Watches ****************** */
.top-watch {
  border: 2px solid red;
  margin: 1rem;
  text-align: center;
  margin-top: 3rem;
}

.top-watch h1 {
  font-size: 2rem;
  font-weight: bold;
}

.top-watch__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top__watches {
  width: 25%;
  /* border: 2px dashed green; */
  text-align: center;
  margin-top: 2rem;
}

.top__watches img {
  width: 10rem;
  height: 16rem;
  object-fit: contain;
}

.top__watches small {
  font-weight: bold;
}

/* ************** Women's Watch *************** */
.womens-watch {
  border: 2px solid red;
  margin: 1rem;
  text-align: center;
  margin-top: 3rem;
}

.womens-watch h1 {
  font-size: 2rem;
  font-weight: bold;
}

.womens-watch__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.womens__watches {
  width: 30%;
  /* border: 2px dashed green; */
  text-align: center;
  margin-top: 2rem;
}

.womens__watches img {
  width: 10rem;
  height: 16rem;
  object-fit: contain;
}

.womens__watches small {
  font-weight: bold;
}

/* ************* Best Seller **************** */
.best-seller {
  border: 2px solid salmon;
  margin: 1rem;
}

.best-seller h1 {
  text-align: center;
  margin: 1rem;
  font-size: 2.5rem;
}
.slide__watches {
  border: 2px solid yellow;
  display: none;
  justify-content: space-around;
  text-align: center;
  margin: 2rem;
}

.slide__watches img {
  width: 10rem;
  height: 16rem;
  object-fit: contain;
}

.best__watches small {
  font-weight: bold;
}

.next-prev-btn {
  display: flex;
  /* justify-content: space-between; */
  position: relative;
  /* width: 100%; */
  justify-content: center;
}

.prev,
.next {
  cursor: pointer;
  margin: 1rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  color: black;
  border: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

footer {
  height: 20rem;
  border: 2px dashed green;
  background-color: #1f1f1f;
  color: white;
}
