@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Bhaijaan 2", cursive;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ************************** Navbar ************************* */
nav {
  height: 82px;
  width: 100%;
  background-color: black;
  position: sticky;
  z-index: 500;
}

.logo a {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

nav a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

a.active,
.nav-menu a:hover {
  background-color: transparent;
  border: 1px solid white;
  transition: 0.5s;
}

nav #bar-icon {
  color: white;
  cursor: pointer;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  display: none;
}

/* ************************** Slider ************************* */
.slides {
  display: none;
  z-index: -1;
}

.slides img {
  width: 100%;
  /* max-width: 1349px; */
  max-height: 468px;
  object-fit: cover;
}

.next-prev {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 16rem;
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  font-size: 2.2rem;
  color: white;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.dots {
  position: relative;
  bottom: 4rem;
  text-align: center;
}

.dot {
  height: 1rem;
  width: 1rem;
  position: relative;
  background-color: #ddd;
  display: inline-block;
  border-radius: 1rem;
  margin: 0.2rem;
  transition: background-color 0.4s ease-in-out;
}

.active,
.dot:hover {
  background-color: #2b558d;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.6s;
  animation-name: fade;
  animation-duration: 1.6s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.index-main {
  /* background-color: salmon; */
  /* border: 2px dashed purple; */
  margin: 1rem;
  /* height: 100%; */
  z-index: 1200;
}

/* **************** Top Watches ****************** */
.top-watch {
  /* border: 2px solid red; */
  margin: 1rem;
  text-align: center;
  margin-top: 3rem;
}

.top-watch h1 {
  font-size: 2rem;
  font-weight: bold;
}

.top-watch__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top__watches {
  width: 24%;
  /* border: 2px dashed green; */
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.top__watches img {
  width: 10rem;
  height: 16rem;
  object-fit: contain;
}

.top__watches span {
  display: block;
}

.top__watches small {
  font-weight: bold;
}

/* ************** Women's Watch *************** */
.womens-watch {
  /* border: 2px solid red; */
  margin: 1rem;
  text-align: center;
  margin-top: 3rem;
}

.womens-watch h1 {
  font-size: 2rem;
  font-weight: bold;
}

.womens-watch__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.womens__watches {
  width: 30%;
  /* border: 2px dashed green; */
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.womens__watches img {
  width: 10rem;
  height: 16rem;
  object-fit: contain;
}

.womens__watches span {
  display: block;
}

.womens__watches small {
  font-weight: bold;
}

/* ************* Best Seller **************** */
.best-seller {
  /* border: 2px solid salmon; */
  margin: 1rem;
}

.best-seller h1 {
  text-align: center;
  margin: 1rem;
  font-size: 2.5rem;
}

.slide__watches {
  /* border: 2px solid yellow; */
  display: none;
  justify-content: space-around;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
}

.slide__watches img {
  width: 10rem;
  height: 16rem;
  object-fit: contain;
}

.best__watches {
  margin: 2rem;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.best__watches span {
  display: block;
}

.best__watches small {
  font-weight: bold;
}

.next-prev-btn {
  display: flex;
  /* justify-content: space-between; */
  position: relative;
  /* width: 100%; */
  justify-content: center;
}

.best-seller__container .next-prev-btn .prev,
.best-seller__container .next-prev-btn .next {
  cursor: pointer;
  margin: 1rem;
  padding: 0.4rem;
  font-size: 2rem;
  color: black;
  border: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* **************** Brands ***************** */
.brands {
  /* border: 2px solid red; */
  margin: 1rem;
  background-color: #f5f5f5;
}

.brands__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.brand__company img {
  width: 15rem;
  height: 14rem;
  object-fit: contain;
  padding: 1rem;
}

.brand__company {
  margin: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.brand__slide {
  display: none;
  justify-content: center;
}

.bdots {
  position: relative;
  top: -1rem;
  text-align: center;
}

.active,
.bdot:hover {
  background-color: #2b558d;
}

.bdot {
  height: 1rem;
  width: 1rem;
  position: relative;
  background-color: #ddd;
  display: inline-block;
  border-radius: 1rem;
  margin: 0.2rem;
  transition: background-color 0.4s ease-in-out;
}

.active,
.bdot:hover {
  background-color: #2b558d;
}

/* ****************** Footer ********************* */
.footer {
  /* height: 20rem; */
  /* border: 2px dashed green; */
  background-color: #1f1f1f;
  color: white;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  /* margin: 2rem; */
  padding: 2rem;
  border-bottom: 2px solid #2c558d;
  flex-wrap: wrap;
}

.footer__container a {
  color: gray;
}

.footer__container a:hover {
  color: #fafafa;
  transition: 0.3s;
}

.company h1 {
  /* font-size: 1rem; */
  border-bottom: 2px solid #2c558d;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.category h1 {
  border-bottom: 2px solid #2c558d;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.brand h1 {
  border-bottom: 2px solid #2c558d;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.terms-and-cond h1 {
  border-bottom: 2px solid #2c558d;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.news-letter h1 {
  border-bottom: 2px solid #2c558d;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.letter__form {
  display: flex;
  flex: 1;
  justify-content: center;
}

.letter__form input {
  outline: none;
  border: none;
  padding: 0.4rem;
  font-size: 1rem;
}

.letter__form button {
  border: none;
  background-color: springgreen;
  padding: 0.5rem;
  cursor: pointer;
}

.connect {
  padding: 1rem;
}

.connect__icon {
  margin-top: 0.5rem;
}

.connect__icon i {
  padding-right: 0.8rem;
  font-size: 1.2rem;
}

.copyright {
  display: block;
  text-align: center;
  padding-bottom: 1rem;
}

.cmp {
  font-size: 1.4rem;
  padding-left: 2px;
}

/* ********************* Button *********************** */
.buy-now {
  border: none;
  background-color: rgb(127, 70, 180);
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  margin: 1.2rem;
  font-size: 1rem;
  /* border-radius: 16px; */
  font-weight: 400;
}

/* ************************ Media Queries ************************** */
@media only screen and (max-width: 1048px) {
  label .logo {
    font-size: 32px;
    padding-left: 60px;
  }

  nav ul {
    margin-right: 20px;
  }

  nav a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 900px) {
  nav #bar-icon {
    display: block;
  }

  nav ul {
    position: absolute;
    width: 100%;
    height: 45vh;
    background-color: rgb(27, 22, 22);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav li {
    display: block;
    margin: 25px 0;
    line-height: 30px;
  }

  nav a {
    font-size: 20px;
  }

  a.active,
  .nav-menu a:hover {
    border: none;
    color: gray;
  }

  nav ul.show {
    left: 0;
  }

  .prev,
  .next {
    padding: 0.3rem;
  }

  .next-prev {
    top: 10rem;
  }
}

@media only screen and (max-width: 750px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
  }

  .searchbar,
  .navbar {
    top: 15rem;
    right: 10rem;
    display: none;
  }

  .toggle-collapse {
    display: initial;
  }

  .nav__container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .slides img {
    height: 8rem;
  }

  .top__watches {
    width: 100%;
    margin: 1rem;
  }

  .womens__watches {
    width: 100%;
  }

  .womens__watches img {
    width: 12rem;
    height: 10rem;
  }

  .best__watches {
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .best__watches img {
    height: 5rem;
    width: 6rem;
  }

  .best__watches p {
    font-size: 10px;
  }

  .best__watches span {
    font-size: 15px;
  }

  .next-prev {
    top: 6rem;
  }

  .next,
  .prev {
    font-size: 1rem;
  }

  .dots {
    bottom: 2.5rem;
  }

  .dot {
    height: 0.5rem;
    width: 0.5rem;
  }

  .brands {
    margin: 0;
  }

  .brand__company {
    margin: 0.3rem;
  }

  .brand__company img {
    width: 5rem;
    height: 4rem;
  }

  .bdots {
    top: 0;
  }

  .bdot {
    height: 0.5rem;
    width: 0.5rem;
  }

  .index-main {
    margin: 0;
  }

  .buy-now {
    padding: 0.4rem;
    font-size: 10px;
  }

  .footer__container {
    flex-wrap: wrap;
  }

  .footer__content-div h1 {
    font-size: 1rem;
  }

  .copyright {
    font-size: 0.8rem;
  }

  .cmp {
    font-size: 1.2rem;
  }

  .letter__form input {
    padding: 0.2rem;
    font-size: 0.8rem;
  }

  .logo a {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 300px) {
  .slides img {
    height: 7rem;
  }

  .best__watches {
    padding: 0.5rem;
  }

  .best__watches img {
    height: 5rem;
    width: 5rem;
  }

  .best__watches p {
    font-size: 9px;
  }

  .best__watches button {
    padding: 0.3rem;
    font-size: 8px;
  }

  .brand__company img {
    height: 4rem;
    width: 4rem;
    padding: 0.4rem;
  }

  .logo a {
    font-size: 21px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .slide__watches img {
    width: 7rem;
    height: 11rem;
  }

  .brand__company img {
    width: 7rem;
    height: 7rem;
  }

  .bdots {
    top: 0;
  }

  .bdot {
    height: 0.6rem;
    width: 0.6rem;
  }

  .top__watches {
    width: 32%;
  }

  .buy-now {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}
